{% extends 'htmlfile/base.html' %}

{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- <link rel="stylesheet" href="{% static 'css/homepage.css' %}"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>
</head>

<body> 
    <h1>สมาคมยุวชนเพื่อการพัฒนาที่ยั่งยืนเพื่อไทย 
        Young Thai for Sustainable Development Association</h1>
    
    <p>
        
        องค์กรยุวชนที่เคลื่อนไหวเพื่อบรรลุเป้าหมายการพัฒนาที่ยั่งยืนของสหประชาชาติ (SDGs) อีกทั้งเป็นองค์กรสนับสนุนการเคลื่อนไหวกิจกรรมอาสาสมัครในระดับยุวชน โดยเปิดโอกาสยุวชนได้มีโอกาสเคลื่อนไหวเพื่อพัฒนาสังคม เศรษฐกิจ และสิ่งแวดล้อมไปสู่ความยั่งยืน
        
        สมาคมยุวชนเพื่อการพัฒนาที่ยั่งยืนเพื่อไทยมีวัตถุประสงค์ในการดำเนินงาน ดังนี้
        
        - เป็นสมาคมที่ดำเนินการจัดกิจกรรมจิตอาสาอย่างเป็นระบบ เพื่อพัฒนาท้องถิ่นสู่การบรรลุเป้าหมายการพัฒนาที่ยั่งยืนของสหประชาชาติในภาคยุวชนของประเทศไทย
        - ขับเคลื่อนสมาคมผ่านการพัฒนายุวชนให้เชื่อมั่นในศักยภาพภายในตนเองบนพื้นฐานของการอยู่ร่วมกันอย่างกลมเกลียวในสังคม และสร้างความตระหนักว่ายุวชนเป็นส่วนสำคัญในการพัฒนาประเทศชาติผ่านท้องถิ่นที่ตนอาศัยอยู่ไปสู่ความยั่งยืน
        - สนับสนุนให้เกิดกิจกรรมที่สอดคล้องกับเป้าหมายเพื่อการพัฒนาที่ยั่งยืนโดยมียุวชนเป็นศูนย์กลางของกิจกรรม</p>
</body>

</html>
{% endblock content %}
