@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    list-style: none;
    text-decoration: none;
}

body{
    margin: 0;
    padding: 0;
}

img#background{
    width: 98.9vw;
    height: 100vh;
}

div#text{
    padding: 0 80px;
}

div#text>h2{
    font-size: 30px;
}

div#text>p{
    font-size: 18px;
    color: #000;
}

div#video{
    display: flex;
    justify-content: center;
    align-items: center;
}

